<div class="lista {{invocador}}">
    <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let data">
                <img class="avatar" *ngIf="data.img" [alt]="data.nombre" [src]="data.img" />
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">
                    {{data.nombre | titlecase}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Docket Column -->
        <ng-container matColumnDef="docket">
            <mat-header-cell *matHeaderCellDef>Legajo</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="Docket text-truncate">
                    {{data.legajo}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Departament Column (xEquipo) -->
        <ng-container matColumnDef="departament">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Departamento</mat-header-cell>
            <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
                <p class="Departament text-truncate">
                    {{data.origen | titlecase}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Sector Column (xSector) -->
        <ng-container matColumnDef="sector">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Sector</mat-header-cell>
            <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
                <p class="text-truncate">
                    {{data.origen | titlecase}}
                </p>
            </mat-cell>
        </ng-container>
        
        <!-- Origen Column (Ctrol) -->
        <ng-container matColumnDef="origen">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Origen</mat-header-cell>
            <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
                <p class="text-truncate">
                    {{data.origen | titlecase}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Concepto Column -->
        <ng-container matColumnDef="concepto">
            <mat-header-cell *matHeaderCellDef>Concepto</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate">
                    {{data.descripcion | titlecase}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="tipo text-truncate" *ngIf="data.tipo">
                    {{data.tipo}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Monto (importe/Cantidad) Column -->
        <ng-container matColumnDef="monto">
            <mat-header-cell *matHeaderCellDef><p>Importe / Cantidad</p></mat-header-cell>
            <mat-cell *matCellDef="let data">
  
                <p class="monto text-truncate" *ngIf="data.tipo != 'Cualitativa'">
                    {{ formatValue(data.importe | number) }}
                </p>                

                <p class="monto text-truncate" *ngIf="data.tipo == 'Cualitativa'">
                    -
                </p>

            </mat-cell>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
            <mat-cell *matCellDef="let data">                        
                <button mat-button class="button-status" aria-label="TEST" aria-label="Cambiar Estado" title="Cambiar Estado" (click)="cambiarEstado(data)">
                    <p class="status {{data.estado}} text-truncate">
                        {{data.estado}}
                    </p>
                </button>
            </mat-cell>
        </ng-container>


        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let data">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">                        
                        
                        <button mat-menu-item aria-label="Editar" title="Editar"
                        (click)="editNovedad(data)">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item aria-label="Eliminar" title="Eliminar"
                        (click)="borrarNovedad(data)">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>

                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let data; columns: displayedColumns;" class="contact"
             [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
<!-- matRipple -->
    </mat-table>
</div>


