<div *ngIf="invocador === 'novedades'" class="botones">
    <button mat-raised-button color="accent" class="button" aria-label="agregar novedad" (click)="addNovedad()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Novedad</span>            
    </button>
    <button mat-raised-button color="accent" class="button" aria-label="Importar novedades externas" (click)="importar()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Importar Novedades Externas</span>
    </button>
</div>

<div class="lista">
    <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let data">
                <img class="avatar" *ngIf="data.img" [alt]="data.nombre" [src]="data.img" />
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">
                    {{data.nombre | titlecase}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Docket Column -->
        <ng-container matColumnDef="docket">
            <mat-header-cell *matHeaderCellDef>Legajo</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="Docket text-truncate">
                    {{data.legajo}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Departament Column (xEquipo) -->
        <ng-container matColumnDef="departament">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Departamento</mat-header-cell>
            <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
                <p class="Departament text-truncate">
                    {{data.origen}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Sector Column (xSector) -->
        <ng-container matColumnDef="sector">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Sector</mat-header-cell>
            <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
                <p class="text-truncate" >
                    {{data.origen}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Concepto Column -->
        <ng-container matColumnDef="concepto">
            <mat-header-cell *matHeaderCellDef>Concepto</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate">
                    {{data.descripcion}}
                </p>
            </mat-cell>
        </ng-container>

        
        <!-- Monto (importe) Column -->
        <ng-container matColumnDef="monto">
            <mat-header-cell *matHeaderCellDef>Importe</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="monto text-truncate" *ngIf="data.importe">
                    {{data.importe}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
            <mat-cell *matCellDef="let data">                        
                <p class="status {{data.estado}} text-truncate">
                    {{data.estado}}
                </p>
            </mat-cell>
        </ng-container>


        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let data">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">                        
                        <button mat-menu-item aria-label="add-novedades" (click)="test()" *ngIf="false">
                            <mat-icon>add_circle_outline</mat-icon>
                            <span>TEST</span>
                        </button>

                        <button mat-menu-item aria-label="Ver Perfil" (click)="goPerfil(data)" *ngIf="false">
                            <mat-icon>account_circle</mat-icon>
                            <span>Ver Perfil</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let data; columns: displayedColumns;" class="contact"
            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>
</div>


