<div id="control-novedades" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center" class="titulo">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                    (click)="toggleSidebar('general-main-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">supervisor_account
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{titulo}}
                </span>
            </div>

            <div fxLayout="row" class="periodo">
            
                <div class="selected-filter">{{periodoSelect}}</div>
            
                <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenuPeriodo"
                    aria-label="selector periodo">
                    <mat-icon>more_horiz</mat-icon>
                </button>
            
                <mat-menu #projectsMenuPeriodo="matMenu">
                    <button mat-menu-item *ngFor="let elemento of periodos" (click)="filtrarXPeriodo(elemento)">
                        <span>{{elemento.valor}}</span>
                    </button>
                </mat-menu>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

            <div class="search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder={{placeholder}}>
                </div>

            </div>

        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
         <fuse-sidebar class="sidebar" name="general-main-sidebar" position="left" lockedOpen="gt-sm">

            <!-- SIDEBAR CONTENT -->
            
            <div class="content" ><!-- fusePerfectScrollbar --> <!-- (isFilterNov)="changeColumns($event)" -->
                <general-main-sidebar [@animate]="{value:'*'}" [invocador]="componente" (isCheckSideBar)="updateCheck($event)" ></general-main-sidebar>
            </div>
            <!--/ SIDEBAR CONTENT -->

        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER pr-sm-92-->
        <div class="center p-24 pb-56 " fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content">
                <data-list-novedades [displayedColumns]="columnas" [invocador]="componente" [dataSource]="dataSource"></data-list-novedades> 
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

</div>