<div class="lista">
    <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let data">
                <img class="avatar" *ngIf="data.img" [alt]="data.nombre" [src]="data.img" />
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="text-truncate font-weight-600">
                    {{data.nombre | titlecase}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Sucursal Column -->
        <ng-container matColumnDef="sucursal">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Sucursal</mat-header-cell>
            <mat-cell *matCellDef="let data" fxHide fxShow.gt-md>
                <p class="sucursal text-truncate">
                    {{data.departamento}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Departament Column -->
        <ng-container matColumnDef="departament">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Departamento</mat-header-cell>
            <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
                <p class="Departament text-truncate">
                    {{data.departamento}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Company Column -->
        <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Compañia</mat-header-cell>
            <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
                <p class="company text-truncate">
                    {{data.empresa}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Email Column-->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="email text-truncate">
                    {{data.email}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Docket Column -->
        <ng-container matColumnDef="docket">
            <mat-header-cell *matHeaderCellDef>Legajo</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="Docket text-truncate">
                    {{data.legajo}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Novedades Column -->
        <ng-container matColumnDef="novedades">
            <mat-header-cell *matHeaderCellDef>Novedades</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="novedades text-truncate" *ngIf="data.cantNovedades">
                    {{data.cantNovedades}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="status text-truncate {{data.estado}}">
                    {{data.estado}}
                </p>
            </mat-cell>
        </ng-container>      

        <!-- Sector Column -->
        <ng-container matColumnDef="sector">
            <mat-header-cell *matHeaderCellDef>Sector</mat-header-cell>
            <mat-cell *matCellDef="let data">
                <p class="sector text-truncate {{data.sector}}">
                    {{data.sector}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let data">
                <div fxFlex="row" fxLayoutAlign="end center">
                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="Ver Perfil" (click)="goPerfil(data)" *ngIf="invocador != 'nomina'">
                            <mat-icon>account_circle</mat-icon>
                            <span>Ver Perfil</span>
                        </button>
                        <button mat-menu-item aria-label="add-novedades" (click)="addNovedad(data)" *ngIf="invocador != 'nomina'">
                            <mat-icon>add_circle_outline</mat-icon>
                            <span>Novedades</span>
                        </button>                   

                        <button mat-menu-item aria-label="add-novedades" (click)="test()" *ngIf="false">
                            <mat-icon>add_circle_outline</mat-icon>
                            <span>TEST</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let data; columns: displayedColumns;" class="contact"
            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
</div>


