<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Emisor: {{gasto.contacto_corto}}</div>
            </header>

            <div class="content">

                <div class="info-line">
                    <div class="title">Proveedor</div>
                    <div class="info">{{gasto.contacto_corto}}</div>
                </div>

                <div class="info-line">
                    <div class="title">CUIT</div>
                    <div class="info">20-18615850-5</div>
                </div>

                <div class="info-line">
                    <div class="title">Domicilio</div>
                    <div class="info">Constitucion 424, Tandil</div>
                </div>

            </div>

        </div>

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Comprobante: {{gasto.comprobante}} #{{gasto.nro}}</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Comprobante</div>
                    <div class="info">{{gasto.comprobante}} {{gasto.nro}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Fecha de emisión o vencimiento</div>
                    <div class="info">{{gasto.fecha | date:'dd/MM/yyyy'}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Etiqueta</div>
                    <div class="info">{{gasto.etiqueta}}</div>
                </div>

            </div>

        </div>

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Resumen - {{gasto.descripcion}}</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Descripcion</div>
                    <div class="info">{{gasto.descripcion}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Estado y Forma de Pago</div>
                    <div class="info">{{gasto.pago_estado}} ({{gasto.pago_forma}})</div>
                </div>

                <div class="info-line">
                    <div class="title">Importe</div>
                    <div class="info">{{gasto.importe}}</div>
                </div>

            </div>

        </div>

    </div>

</div>