<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">IVA</div>
            </header>

            <div class="content">

                <div class="info-line">
                    <div class="title">No Gravado</div>
                    <div class="info">0.00</div>
                </div>

                <div class="info-line">
                    <div class="title">Neto Gravado</div>
                    <div class="info">100.00</div>
                </div>

                <div class="info-line">
                    <div class="title">IVA 21%</div>
                    <div class="info">21</div>
                </div>

            </div>

        </div>

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Factura Electronica</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">CAE</div>
                    <div class="info">421525-582825558457555-22</div>
                </div>

                <div class="info-line">
                    <div class="title">Vencimiento</div>
                    <div class="info">22/10/2019</div>
                </div>

            </div>

        </div>

    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Percepciones</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">de IIBB</div>
                    <div class="info">0.00</div>
                </div>

                <div class="info-line">
                    <div class="title">de IVA</div>
                    <div class="info">0.00</div>
                </div>

                <div class="info-line">
                    <div class="title">de Ganancias</div>
                    <div class="info">0.00</div>
                </div>
            </div>

        </div>

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Total</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Total</div>
                    <div class="info">{{gasto.importe}}</div>
                </div>


                <div class="info-line">
                    <div class="title">Estado</div>
                    <div class="info">OK (verificado)</div>
                </div>
            </div>

        </div>


    </div>