<div class="dialog-content-wrapper"> 
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="novXForm">


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Periodo</mat-label>

                    <input matInput placeholder="" formControlName="datePeriodo" name="datePeriodo">

                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Legajo</mat-label>
                    <mat-icon matSuffix class="secondary-text">perm_identity</mat-icon>
                    <input name="legajo" matInput formControlName="legajo" type="text" placeholder="ejemplo. FC1645"
                        required>
                </mat-form-field>
            </div>

            
            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="invocador !== 'nov-equipos'">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Concepto</mat-label>
                    <mat-select formControlName="concepto" name="concepto" required>
                        <mat-option *ngFor="let c of conceptosXOrigen" [value]="c.value">
                            {{c | titlecase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>






            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="invocador === 'nov-equipos'">
                <div id="switch">
                    <mat-slide-toggle name="slide" appearance="outline" fxFlex (change)="switchParam()">{{hideshow ? "Cuantitativa" : "Cualitativa" }}</mat-slide-toggle>
                </div>                
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="hideshow && invocador === 'nov-equipos'">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Concepto</mat-label>                                   
                    <mat-select formControlName="concepto_cuantitativos" name="concepto" required (selectionChange)="changeUnidad($event)"> 
                        <mat-option *ngFor="let c of cuantitativos" [value]="c.value">
                            {{c.viewValue | titlecase }}
                        </mat-option>
                    </mat-select>                                    
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="!hideshow && invocador === 'nov-equipos'">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Concepto</mat-label>
                    <mat-select formControlName="concepto_cualitativos" name="concepto" required >
                        <mat-option *ngFor="let c of cualitativos" [value]="c.value">
                            {{c.viewValue | titlecase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="hideshow && invocador === 'nov-equipos'">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Cantidad ({{unidad}})</mat-label>                    
                    <input name="cantidad" matInput formControlName="cantidad"  required>
                </mat-form-field>
            </div>          


            <!-- Visible solo con NovXEquipo -->
            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="invocador === 'nov-equipos'">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Fecha Desde</mat-label>
            
                    <input matInput [matDatepicker]="DatePickerDesde" placeholder="" formControlName="dateDesde" name="dateDesde">
            
                    <mat-datepicker-toggle matSuffix [for]="DatePickerDesde"></mat-datepicker-toggle>
                    <mat-datepicker #DatePickerDesde></mat-datepicker>
            
                </mat-form-field>
            </div>
            
            <!-- Visible solo con NovXEquipo -->
            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="invocador === 'nov-equipos'">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Fecha Hasta</mat-label>
            
                    <input matInput [matDatepicker]="DatePickerHasta" placeholder="" formControlName="dateHasta" name="dateHasta">
            
                    <mat-datepicker-toggle matSuffix [for]="DatePickerHasta"></mat-datepicker-toggle>
                    <mat-datepicker #DatePickerHasta></mat-datepicker>
            
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                color="accent"
                class="mr-8"
                (click)="matDialogRef.close(['delete',novXForm])"
                aria-label="Delete"
                matTooltip="Delete">
            Eliminar
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                color="accent"
                class="save-button"
                type="submit"
                (click)="onSubmit()"
                [disabled]="novXForm.invalid"
                aria-label="SAVE">
            Agregar
        </button>
       

        <!-- debug -->
        <button  mat-button color="accent" class="mr-8" 
            *ngIf="false"
            (click)="verForm(novXForm)"  aria-label="jojo">
            ver
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                color="accent"
                class="save-button"
                (click)="matDialogRef.close(['save',novXForm])"
                [disabled]="novXForm.invalid"
                aria-label="SAVE">
            Guardar
        </button>

    </div>
</div>
