@import "src/@fuse/scss/fuse";
@import "src/_mixins";

configurar-list {

    @include offFocus;

    .lista {
        display: flex;
        flex: 1 1 auto;
        width: 100%;

        .mat-table {
            width: 100%;
            background: transparent;
            box-shadow: none;

            mat-header-row {
                padding: 8px;

                mat-header-cell {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
            .mat-column-responsableR, .mat-column-responsableS {
                justify-content: center;

                p {
                    text-align: center;
                }
            }

            .mat-column-buttons {
                flex: 0 1 80px;
            }

            .mat-row {
                position: relative;
                cursor: pointer;
                padding: 8px;

                .mat-cell {
                    min-width: 0;
                }
            }
        }
    }
    
    @include media-breakpoint('lt-aux') {
        .lista {
            .mat-table {

                mat-header-row mat-header-cell, mat-row mat-cell {
                    &:first-of-type {
                        padding-left: 10px;
                    }

                    &:last-of-type {
                        padding-right: 10px; 
                    }
                }        

                .mat-column-buttons {
                    justify-content: center;
                }

                .mat-column-responsableS {
                    text-align: center;
                }

                .mat-column-buttons {
                    flex: 0 1 50px;
                }

                .mat-column-cod {
                    flex: 0.5;
                }

            }
        }
    }
}