<div class="dialog-content-wrapper"> 
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form >       
            <div fxLayout="row" fxLayoutAlign="start start" id="texto">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>TXT</mat-label>
                    <textarea matInput name="texto" disabled [(ngModel)]="txt"
                        placeholder="Novedades"></textarea>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button 
                mat-button
                color="accent"
                class="save-button"
                type="submit"
                (click)="saveFile()"
                [disabled]=""
                aria-label="SAVE">
            Guardar
        </button>

    </div>
</div>
