@import "src/@fuse/scss/fuse";

.general, #contacts, #control-novedades, #nomina, #novEquipo, #sector, #origenes, #conceptos, #equipo {
    .header {
        height: 140px;
        min-height: 140px;
        max-height: 140px;
        flex-flow: row wrap;

        .selected-filter {
            background: rgba(0, 0, 0, 0.12);
            color: #FFFFFF;
            padding: 8px 16px;
            height: 40px;
            line-height: 24px;
            font-size: 16px;
            border-radius: 8px 0 0 0;
        }

        .project-selector {
            margin-left: 1px;
            background: rgba(0, 0, 0, 0.12);
            border-radius: 0 8px 0 0;

            mat-icon {
                color: #FFFFFF;
            }
        }                

        .search-box {            
            .search-wrapper {
                width: 100%;
                max-width: 480px;
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);

                .search {
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 18px;

                    input {
                        width: 100%;
                        height: 48px;
                        min-height: 48px;
                        max-height: 48px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }        

        .titulo {                        
            .logo {
                width: 100%;
            }

            .filtros {
                position: absolute;
                top: 100px;

                .equipoFilter, .sectoresFilter, .novequipoFilter, .periodo {
                    margin: 0 8px 0 0;                    

                    .selected-filter {
                        width: max-content;
                    }
                    
                }
            }
        }
    }

    .content {
        overflow: hidden;

        .center {            
            padding: 24px 24px 56px 24px;
        }

        .sidebar {
            &:not(.locked-open) {
                background: white;
            }
        }
    }

    @include media-breakpoint('xs') {
        .header {
            flex-direction: row !important;
            position: relative;
            height: 120px;
            min-height: 120px;
            max-height: 120px;
        
            .titulo {
                width: 100%;                

                .logo {
                    margin: 0;

                    .logo-icon {
                        display: none;
                    }

                    .logo-text {
                        font-size: 18px;
                    }
                }
            }
            
            .search-box {
                top: 130px;
                position: absolute;
                width: calc(100% - 32px);
            }
        }

        .content {
            .center {
                padding: 70px 24px 56px 24px;
            }
        }
    }
}

#novEquipo, #sector, #equipo, #control-novedades{
    @include media-breakpoint('xs') {
        .header {
            .titulo {
                .filtros {
                    top: 90px;
                }
            }

            .selected-filter, .project-selector.mat-icon-button {
                height: 30px;
                font-size: 16px;
                padding: 4px 8px;
                line-height: 24px;
            }
        }
    }

    @include media-breakpoint('xss') { // 360
        .header {
            place-content: baseline flex-start !important;

            .titulo {
                .filtros {                    

                    .periodo {
                        top: -35px;
                        position: absolute;

                        .selected-filter {
                            border-radius: 8px 0 0 8px;
                        }
                        
                        .project-selector.mat-icon-button {
                            border-radius: 0 8px 8px 0;
                        }
                    }

                    .sectoresFilter, .novequipoFilter {                                 

                    }
                }
            }
        }
    }
}

#equipo {
    @include media-breakpoint('xs') {
        .header {
            place-content: center space-between !important;
        }
    }
}

#sector {
    @include media-breakpoint('xs') {
        .header {
            .search-box {        
                .search-wrapper {
                    margin-right: 112px; 
                }
            }
        }

        .content {
            .center {
                padding: 10px 24px 56px 24px;
            }
        }
    }
}

#control-novedades {
    @include media-breakpoint('xss') { // 360
        .header {
            place-content: center space-between !important;

            .titulo {
                .filtros {               

                    .periodo {
                        top: 0;
                        position: absolute;

                        .selected-filter {
                            border-radius: 8px 0 0 0;
                        }
                        
                        .project-selector.mat-icon-button {
                            border-radius: 0 8px 0 0;
                        }
                    }

                    .sectoresFilter, .novequipoFilter {                                 

                    }
                }
            }
        }
    }
}

.mat-menu-content {
    max-height: 400px;
}

#addNovedadButton {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
}

.container-addnovedad-delete {
    width: auto;
    display: flex;
    justify-content: flex-end;

    #importarButton,
    #DeleteButton {
        margin: 12px 16px 0 0;
        
        .mat-button-wrapper{
            padding: 0;
        }

        @include media-breakpoint('xs') {
            width: 45px;
            height: 45px;
        }
    }

    #importarButton {
        margin: 12px 10px 0 0;
    }

}
