<div id="about" class="p-24" fxLayout="row wrap">

  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

      <div class="profile-box info-box general" fxLayout="column">

          <header class="accent">
              <div class="title">Información General</div>
          </header>

          <div class="content">
              <div class="info-line">
                  <div class="title">Nombre Completo*</div>
                  <div class="info">{{info.nombre}}</div>
              </div>

              <div class="info-line">
                  <div class="title">Nombre Corto</div>
                  <div class="info">{{info.nombreCorto}}</div>
              </div>

              <div class="info-line">
                <div class="title">Telefono</div>
                <div class="info">{{info.telefonos}}</div>
              </div>

              <div class="info-line">
                <div class="title">Domicilio</div>
                <div class="info">{{info.domicilio}}</div>
              </div>

              <div class="info-line">
                <div class="title">Localidad</div>
                <div class="info">{{info.localidad}}</div>
              </div>
          </div>

        </div>

    </div>

</div>
