<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Información General</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Nombre</div>
                    <div class="info">{{ info.nombre_corto |titlecase }} ({{ info.nombre | titlecase }})</div>
                </div>

                <div class="info-line">
                    <div class="title">Cuit</div>
                    <div class="info">{{info.doc_nro}} ({{info.cond_iva}})</div>
                </div>

                <div class="info-line">
                    <div class="title">Direccion</div>
                    <div class="info">{{info.domicilio}} , {{info.localidad}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Etiqueta</div>
                    <div class="info">{{info.etiqueta}}</div>
                </div>
            </div>

        </div>

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Datos de Contacto</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Email</div>
                    <div class="info">{{info.correo}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Telefono</div>
                    <div class="info">{{info.telefono}}</div>
                </div>
            </div>

        </div>

    </div>

</div>
